blinker==1.8.2
click==8.1.7
emoji==2.12.1
Flask==2.3.3
Frozen-Flask==1.0.2
itsdangerous==2.2.0
Jinja2==3.1.4
markdown2==2.5.0
MarkupSafe==2.1.5
slack-export-viewer==1.4.3
typing_extensions==4.12.2
Werkzeug==2.3.8
